{:tasks
 {dev-notebook
  {:doc "Start a shadow-cljs watch process that generates this project's custom JS."
   :task
   (do (shell "npm install")
       (shell "npm run watch-clerk"))}

  start-clerk
  {:doc "Start a Clerk dev server configured with this project's custom JS."
   :task
   (shell "clojure -X:nextjournal/clerk user/start!")}}}
