{:paths ["src"]
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk
    {:git/sha "4180ed31c2864687a770f6d4f625303bd8e75437"}}
   :exec-fn nextjournal.clerk/build!
   :exec-args
   {:index "src/clerk_repro/notebook.clj"
    :paths ["src/**"]}}}}
